In [6]:
df = read.table("0608.csv",sep = ",", header = TRUE)

In [33]:
df[1:5,]

  year personal corporate party   group   anonymous other total    net
1 2008 10745270 17018120  5920000 1782000 24000     7858  35497248 24751978
2 2008  5258500  2526000   300000  430000 11000     1185   8526685  3268185
3 2008 15851900 19934048  7310000  540000 77188     4433  43717569 27865669
4 2008  3802000  6503388   500000       0     0       16  10805404  7003404
5 2008  1445576  3648000  5400000  210000 42700     2650  10748926  9303350
  opp      ... kmt16 dpp pfp new none income   times member pre    riv
1  8526685 ... 0     0   0   0   0    1156.132 0     1      121956 4
2 35497248 ... 0     1   0   0   0    1156.132 0     0       83398 4
3 10805404 ... 0     0   0   0   0    1172.292 0     0      104488 3
4 43717569 ... 0     1   0   0   0    1172.292 0     1       96285 3
5 18076338 ... 0     0   0   0   0    1589.367 0     0      108757 5

In [23]:
per = df['per']

In [27]:
per[1:5,]

[1] 59.82 38.79 52.40 45.19 60.25

In [28]:
total = df['total']

In [29]:
total[1:5,]

[1] 35497248  8526685 43717569 10805404 10748926

In [19]:
summary(lm(as.matrix(per)~as.matrix(total)))

Call:
lm(formula = as.matrix(per) ~ as.matrix(total))

Residuals:
     Min       1Q   Median       3Q      Max
-18.7455  -7.0595  -0.0603   5.4609  24.7040

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)      3.725e+01  1.718e+00  21.676  < 2e-16 ***
as.matrix(total) 5.094e-07  7.473e-08   6.816 7.17e-10 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 8.819 on 100 degrees of freedom
Multiple R-squared:  0.3172,	Adjusted R-squared:  0.3104
F-statistic: 46.46 on 1 and 100 DF,  p-value: 7.172e-10